@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__heading {
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section__heading--space {
  margin-top: 128px;
}

.button {
  display: block;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border-color: transparent;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 200px;
}

.bttn-close {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 11px;
  right: 12px;
}

.footer__submit {
  padding: 10px 48px 10px 48px;
  background-color: #2196F3;
  color: white;
  width: 200px;
  height: 50px;
}

.nav__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav__link--active {
  color: #2196F3;
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.contacts__email {
  color: #757575;
  font-size: 13px;
  line-height: 1.15px;
  letter-spacing: 0.02em;
}
.contacts__email:hover, .contacts__email:focus {
  color: #2196F3;
}

.contacts__phone {
  color: #757575;
  font-size: 13px;
  line-height: 1.15px;
  letter-spacing: 0.02em;
}
.contacts__phone:hover, .contacts__phone:focus {
  color: #2196F3;
}

.socialMedia__icon {
  fill: #AFB1B8;
}
.socialMedia__icon:hover, .socialMedia__icon:focus {
  fill: white;
}

.socialMedia__icon--bg {
  fill: white;
}
.socialMedia__icon--bg:hover, .socialMedia__icon--bg:focus {
  fill: #2196F3;
}

.address__link:hover,
.address__link:focus {
  color: #2196F3;
}

.footer__icon--bg {
  fill: #44454E;
}
.footer__icon--bg:hover, .footer__icon--bg:focus {
  fill: #2196F3;
}

.logo {
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.is-hidden {
  visibility: hidden;
}

.modal-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
}

.modal {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.form__label {
  display: block;
  position: relative;
}

.form__text {
  position: absolute;
  font-size: 12px;
  top: -16px;
}

.form__icons {
  position: absolute;
  top: 12px;
  left: 12px;
}

.form__input {
  width: 100%;
  margin: 0 0 29px 0;
  padding: 11px 16px 11px 40px;
}

.footer__formSection {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer__formSection {
    margin-left: 92px;
  }
}

.footer-form {
  display: flex;
}

.footer__input {
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 450px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__input {
    width: 450px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .footer__input {
    width: 358px;
  }
}

.footer__submit {
  margin: 0 auto;
}

.header {
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 125px;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: 87px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    margin-right: 215px;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    margin-right: 215px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 276px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.contacts__email {
  margin-right: 47px;
  display: flex;
}
@media screen and (max-width: 1270px) {
  .contacts__email {
    margin-right: 47px;
    display: block;
  }
}

.slogan {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 360px;
  margin: 0 auto;
  margin-top: 100px;
}
@media screen and (min-width: 1200px) {
  .slogan {
    font-size: 44px;
    width: 696px;
    margin-top: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slogan {
    font-size: 26px;
    width: 360px;
    margin-top: 100px;
  }
}

.hero--bg {
  background-image: url("/images/Hero-m.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 767px), (min-device-resolution: 2), (-webkit-min-device-resolution: 2), (min-resolution: 96dpi), (min-resolution: 2ppi) {
  .hero--bg {
    background-image: url("/images/Hero-m@2x.jpg");
  }
}
@media (min-width: 768px), (min-device-resolution: 2), (-webkit-min-device-resolution: 2), (min-resolution: 96dpi), (min-resolution: 2ppi) {
  .hero--bg {
    background-image: url("/images/Hero-t@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero--bg {
    background-image: url("/images/Hero-t.jpg");
  }
}
@media (min-width: 1200px), (min-device-resolution: 2), (-webkit-min-device-resolution: 2), (min-resolution: 96dpi), (min-resolution: 2ppi) {
  .hero--bg {
    background-image: url("/images/Title-d@2.jpg");
  }
}
@media (min-width: 1200px) {
  .hero--bg {
    background-image: url("/images/Title-d.jpg");
    background-size: 100%;
  }
}

.features__title {
  font-weight: 700;
  color: #212121;
}

.features__icon {
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.features__items {
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .features__items {
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .features__items {
    width: 354px;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-basis: 50%;
    flex-wrap: nowrap;
  }
}

.what-we-do {
  display: flex;
  margin-top: -30px;
}

.what-we-do__item {
  margin-top: 30px;
  margin-left: 30px;
}

.what-we-do--smallerScreeen {
  display: none;
}
@media screen and (min-width: 1280px) {
  .what-we-do--smallerScreeen {
    display: block;
  }
}

.our-team {
  display: flex;
  margin-top: -30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .our-team {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1280px) {
  .our-team {
    flex-wrap: nowrap;
    flex-basis: 25%;
    width: 1280px;
  }
}

.our-team__item {
  margin-top: 30px;
  margin-left: 15px;
  background-color: white;
  box-shadow: 0px 1px 1px #AFB1B8;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1280px) {
  .our-team__item {
    margin-left: 30px;
  }
}

.team--bg {
  background-color: #F5F4FA;
  width: 100%;
}

.our-team__name {
  font-weight: 700;
  color: #212121;
  text-align: center;
}

.our-team__position {
  text-align: center;
  margin-bottom: 16px;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers {
  display: flex;
  margin-bottom: 92px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc(50% - 30px);
}
@media screen and (min-width: 1200px) {
  .customers {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    flex-wrap: wrap;
    flex-basis: calc(33.3333333333% - 60px);
  }
}

.customers__icon {
  background-color: white;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
}

.customers__item {
  margin-top: 15px;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .customers__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.address__location {
  line-height: 1.71;
  color: white;
}
@media screen and (min-widht: 768px) {
  .address__location {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__location {
    text-align: left;
  }
}

.footer {
  padding-left: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.footer__logo {
  margin-left: 136px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 215px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 115px;
  }
}

.footer__address {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 115px center;
  }
}

.footer--background {
  background-color: #2F303A;
}

.footer--socials {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer--socials {
    margin-left: 70px;
  }
}

.socialMedia__icon--footer {
  fill: white;
}

.address {
  margin-left: 76px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-left: 215px;
  }
}
@media screen and (max-width: 1280px) {
  .address {
    margin-left: 115px;
  }
}

.footer__paragraph {
  margin: 0 auto;
  margin-top: 48px;
  margin-left: 167px;
}/*# sourceMappingURL=main.css.map */