.nav__link{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: $secondary-txt-color;

    &--active{
        color: $secondary-active-color;
    }

    &:hover,
    &:focus{
        color: $secondary-active-color;
    }
}

.contacts__email{
    color: $main-txt-color;
    font-size: 13px;
    line-height: 1.15px;
    letter-spacing: 0.02em;

    &:hover,
    &:focus{
        color: $secondary-active-color;
    }
}

.contacts__phone{
    color: $main-txt-color;
    font-size: 13px;
    line-height: 1.15px;
    letter-spacing: 0.02em;

    &:hover,
    &:focus{
        color: $secondary-active-color;
    }
}

.socialMedia__icon{
    fill: $social-icon-color;

    &:hover,
    &:focus{
        fill: white;
    }
}

.socialMedia__icon--bg{
    fill: white;

    &:hover,
    &:focus{
        fill: $secondary-active-color;
    }
}


.address__link:hover, 
.address__link:focus{
    color: $secondary-active-color;
}

.footer__icon--bg{
    fill: #44454E;

    &:hover,
    &:focus{
        fill: $secondary-active-color;
    }
}

