$main-txt-color: #757575;
$secondary-txt-color: #212121;
$tertiary-txt-color: white;
$second-bg-color: #2F303A;
$secondary-active-color: #2196F3;
$social-icon-color: #AFB1B8;
$features-color-background: #F5F4FA;