.features__title{
    font-weight: 700;
    color: $secondary-txt-color;
}

.features__icon{
    background-color: $features-color-background;
    margin-bottom: 30px;
}

.features__items{
    margin-top: 30px;
    margin-left: 30px;


    @media screen and (min-width: 1200px){
        width: 270px;
    }

    @media screen and (min-width: 768px){
        width: 354px;
    }

    }

.features{
    display: block;
    width: 450px;

    @media screen and (min-width: 768px){
        display: flex;
        margin-top: 60px;
        flex-wrap: wrap;
        width: 768px;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        flex-wrap: nowrap;
        width: 1170px;
        margin-top: 0;
    }
}