.slogan{
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $tertiary-txt-color;
    width: 360px;
    margin: 0 auto;
    margin-top: 100px;

    @media screen and (min-width: 1200px){
        font-size: 44px;
        width: 696px;
        margin-top: 190px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        font-size: 26px;
        width: 360px;
        margin-top: 100px;
    }
}



.hero--bg{
    background-image: url("/images/Hero-m.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-device-pixel-ratio: 2) and (max-width: 768px),
    (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px),
    (min-resolution: 96dpi) and (max-width: 768px),
    (min-resolution: 2ppi) and (max-width: 768px){
        background-image: url("/images/Hero-m@2x.jpg");
    }

    @media (min-width: 1200px){
        background-image: url("/images/Title.jpg");
    }

    @media (min-width: 768px) and (max-width: 1199px){
        background-image: url("/images/Hero-t.jpg");
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    (min-resolution: 96dpi) and (min-width: 768px) and (max-width: 1199px),
    (min-resolution: 2ppi) and (min-width: 768px) and (max-width: 1199px){
        background-image: url("/images/Hero-t@2x.jpg");
    }
}