.what-we-do{
    display: flex;
    align-items: center;
}

.what-we-do__item{
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
}


.what-we-do--smallerScreeen{
    display: none;

    @media screen and (min-width: 1280px){
        display: block;
    }
}